.try {
  color: $gray-300;
  background-image: linear-gradient(to bottom, $green-0, $secondary);
  font-family: "Poppins";
  .heading {
    position: relative;
    font-weight: 700;
    text-align: center;
    padding: 4.5rem 0;

    &::before {
      content: "<";
    }

    &::after {
      content: " />";
    }

    .lines {
      &::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100px;
        background-color: rgba($white, 0.5);
        left: 49%;
        top: 50%;
        transform: translate(-200%, -50%);
      }

      &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100px;
        background-color: rgba($white, 0.5);

        right: 49%;
        top: 50%;
        transform: translate(200%, -50%);
      }
    }
  }
  .paragraph {
    text-align: center;
    font-size: 1.2rem;
  }

  .btn-thic::after {
    content: "/>";
  }
  .btn-thic::before {
    content: "<";
  }

  .row > .col-4 > div {
    background-color: rgba(#222, 0.5);

    border-radius: 10px;
    padding: 1.2rem 0.8rem;
    margin: 1.2rem 0.4rem;
    min-height: 100%;
    h1 {
      text-align: center;
      font-weight: 500;
    }
  }
}
