@import "./custom";

@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "./components/buttons";
@import "./sections/navbar";
@import "./sections/home";
@import "./sections/features";
@import "./sections/FAQ";
@import "./sections/try";
@import "./login/login";
@import "./sections/footer";
@import "../code-editor/sass/style_code";
// * {
//   font-family: "Poppins";
// }

*{
  // background-color: $Crem;
}
q a {
  text-decoration: none;
}

::selection {
  color: black;
  background-color: rgb(0, 255, 247);
}




